[submodule "symbioteAPI"]
	path = symbioteAPI
	url = https://github.com/SHAPES-H2020/symbioteAPI
[submodule "symbioteRAPNoticationAppExample"]
	path = symbioteRAPNoticationAppExample
	url = https://github.com/SHAPES-H2020/symbioteRAPNoticationAppExample
[submodule "symbioteCloud"]
	path = symbiotecloud
	url = https://github.com/SHAPES-H2020/symbiotecloud
[submodule "symbioteCore"]
	path = symbiotecore
	url = https://github.com/SHAPES-H2020/symbiotecore
[submodule "symbiotecloud"]
	path = symbiotecloud
	url = https://github.com/SHAPES-H2020/symbiotecloud
[submodule "symbiotecore"]
	path = symbiotecore
	url = https://github.com/SHAPES-H2020/symbiotecore
